	#login-conatiner{
		background: #22333e;
		font-family: proxima-nova,Helvetica Neue,Helvetica,sans-serif;
	}
	#login-conatiner .form{
margin-top: 150px;
    background-color: #fff;
    border-radius: 10px;
    padding: 50px 0 0;
    overflow: hidden;

	}
	.padding-login{
		padding: 25px 50px;
	}

	#login-conatiner #login{
		background: #1d2b35;
		height: 50px;
		padding-top: 10px;
	}

	#login span{
		color: white !important;
	}

	#login-conatiner input{
		padding: 0 15px;
	}
	#login-conatiner .input-group-addon{
		min-width: 50px;
		background: transparent;
		color: #00aef9;
	}
	#login-conatiner .well{
		background: #fff;
		margin-top: 150px;
		padding: 0px;
		border-radius: 10px;
	}
	#login-conatiner .input-group, #login-conatiner .form-control{
		height: 50px;
	}

	#login-conatiner .btn-sm{
		padding: 5px 10px;
		line-height: 1.5;
		height: 30px;
		background: #00a1e6;
		border: none;
		font-weight: 600;
	}
	#login-conatiner .row
	{
		margin:0;
	}
	
	.forgot-row
	{
		text-align: center;
		background: #f1f4f7;
		height: 60px;
		border-radius: 0px 0px 10px 10px;
		box-shadow: inset 0 3px 3px rgba(155,173,189,.2);
		padding-top: 20px;

	}

	a.forgot{
		color: #7d94a9;
		text-decoration: none;
		cursor: pointer;
		margin-top: 10px;
	}

#btnSignin {
    color: #fff;
    width: 100%;
    max-width: 250px;
    border-radius: 3px;
    background-image: none;
    border: none;
    background-color: #00aef9;
    margin-top: 10px;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
}

.signup-login-logo{
	    margin: 0 auto;
    margin-bottom: 30px;
}