.signup-login-bg {
    min-height: 100vh;
    background-color: #22333e;
    padding-bottom: 80px;
}

.AreYouLookingFor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background: #1d2b35;
}

.AreYouLookingFor__link {
    color: #fff;
    font-weight: 600;
}

.AreYouLookingFor .btn-sm {
    padding: 5px 10px;
    line-height: 1.5;
    height: 30px;
    background: #00a1e6;
    border: none;
    font-weight: 600;
    color: white;
}

.signup-login-bg a {
    color: #00aef9;
}

.signup-login .form.no-padding {
    padding: 50px 0 0;
}

.signup-login .form {
    margin-top: 150px;
    background-color: #fff;
    border-radius: 10px;
    padding: 50px 50px 40px;
    overflow: hidden;
}

.signup-login-bg a {
    color: #00aef9;
}

.signup-login-logo {
    margin: 0 auto;
    margin-bottom: 30px;
}

.BrandedPanelMessage {
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 14px;
    color: #505966;
    letter-spacing: .5px;
}

.BrandedPanel__form {
    padding: 0 50px 40px;
}

.signup-login .input-group-addon {
    min-width: 50px;
    background-color: transparent;
}

.BrandedPanel__form .Icon {
    color: #00aef9;
}

.signup-login .Input {
    letter-spacing: 1px;
    height: 50px;
    font-weight: 400;
    border-left: 1px solid #c7cdd6;
}

.signup-login .Input .Input__input {
    padding: 0 15px;
}

.Input__input {
    height: 100%;
    border: 1px solid #c7cdd6;
    border-left-width: 0;
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #505966;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
button, html, input, select, textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.signup-login .btn-primary {
    color: #fff;
    width: 100%;
    max-width: 250px;
    border-radius: 3px;
    background-image: none;
    border: none;
    background-color: #00aef9;
    margin-top: 10px;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
}

* {
    outline: none!important;
    outline-width: 0!important;
    outline-style: none!important;
    -webkit-resize: none!important;
    -moz-resize: none!important;
    resize: none!important;
}